@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e0e5ec;
  color: rgba(34, 48, 74);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: #e0e5ec;
  border: none;
  border-radius: 10px;
  color: rgba(34, 48, 74);
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #f2f3f5;
}

.user-form input::placeholder {
  color: rgba(34, 48, 74);
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  background-color: #e0e5ec;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #f2f3f5;
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #babecc;
  height: 150px;
  width: 150px;
}

.user-info {
  color: rgba(34, 48, 74);
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: rgba(34, 48, 74);
  background-color: #babecc;
  border-radius: 10px;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}
